
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Coming Soon - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="assets/mp4/bg.mp4" type="video/mp4" /></video>

    <div class="masthead">
        <div class="masthead-content text-white">
            <div class="container-fluid px-4 px-lg-0">
                <h1 style="text-align:center" class="fst-italic lh-1 mb-4">Websitemiz Çok Yakında</h1>
                <p style="text-align:center" class="mb-5">İletişime geçmek için mail atabilirsiniz</p>
                <div class="container px-5 my-5">

                    @if (TempData["success"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["success"]
                            evelek übelek
                            <button style="padding:revert; float:right;" id="ok" type="button" class="btn btn-primary btn-xs">X</button>
                        </div>
                    }
                    @if (@TempData["fail"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["fail"]
                            <button style="padding:revert; float:right;" id="times" type="button" class="btn btn-primary btn-xs">X</button>
                        </div>
                    }
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <div class="social-icons">
        <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
            <a class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark m-3" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark m-3" href="#!"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $("#times").click(function () {
            $(".alert").hide();
        });
        $("#ok").click(function () {
            $(".alert").hide();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false);
</body>
</html>
