@model comingsoon.Models.Mail

<div class="masthead">
    <div class="masthead-content text-white">
        <div class="container-fluid px-4 px-lg-0">
            <h1 class="fst-italic lh-1 mb-4">Websitemiz Çok Yakında</h1>
            <p class="mb-5">İletişime geçmek için mail atabilirsiniz</p>
            <div class="container px-5 my-5">

                <form method="post" enctype="multipart/form-data" asp-action="Mailsender">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="emailAddress" class="form-label">E-Posta</label>
                        <input asp-for="emailAddress" class="form-control" id="emailAddress" autocomplete="on" />
                        <span asp-validation-for="emailAddress" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="message" class="form-label">Mesaj</label>
                        <textarea asp-for="message" class="form-control" id="message" style="height: auto;"></textarea>
                        <span asp-validation-for="message" class="text-danger"></span>

                    </div>
                    <div class="d-grid">

                        <button type="submit" class="btn btn-primary form-control">
                            Gönder
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
<partial name="_ValidationScriptsPartial" />
}
